__pycache__/
2023/cookie.json
build/
*.pyd
cookie.json
example
input
images/
*.exe
*.ilk
*.obj
*.pdb
/2025/day01/cpp/.vs/cpp.slnx/config/applicationhost.config
/2025/day01/cpp/.vs/cpp.slnx/copilot-chat/bebd3762/sessions/fd3b142f-31be-47e1-877c-e2ec212bba29
/2025/day01/cpp/.vs/cpp.slnx/FileContentIndex/147ebb98-e925-4052-b251-8a97c5fb9350.vsidx
/2025/day01/cpp/.vs/cpp.slnx/FileContentIndex/836d4997-0dd3-435c-af8c-efb2d3b636a8.vsidx
/2025/day01/cpp/.vs/cpp.slnx/FileContentIndex/9be1c1ad-3c81-494c-a578-002fba9adf70.vsidx
/2025/day01/cpp/.vs/cpp.slnx/v18/ipch/AutoPCH/39bee669f59609af/CPP.ipch
/2025/day01/cpp/.vs/cpp.slnx/v18/ipch/AutoPCH/a069705ed5f58285/TMPDDD0.TMP.ipch
/2025/day01/cpp/.vs/cpp.slnx/v18/.wsuo
/2025/day01/cpp/.vs/cpp.slnx/v18/Browse.VC.db
/2025/day01/cpp/.vs/cpp.slnx/v18/Browse.VC.db-shm
/2025/day01/cpp/.vs/cpp.slnx/v18/Browse.VC.db-wal
/2025/day01/cpp/.vs/cpp.slnx/v18/Browse.VC.opendb
/2025/day01/cpp/.vs/cpp.slnx/v18/DocumentLayout.backup.json
/2025/day01/cpp/.vs/cpp.slnx/v18/DocumentLayout.json
/2025/day01/cpp/.vs/cpp/CopilotIndices/18.0.934.24903/CodeChunks.db
/2025/day01/cpp/.vs/cpp/CopilotIndices/18.0.934.24903/CodeChunks.db-shm
/2025/day01/cpp/.vs/cpp/CopilotIndices/18.0.934.24903/CodeChunks.db-wal
/2025/day01/cpp/.vs/cpp/CopilotIndices/18.0.934.24903/SemanticSymbols.db
/2025/day01/cpp/.vs/cpp/CopilotIndices/18.0.934.24903/SemanticSymbols.db-shm
/2025/day01/cpp/.vs/cpp/CopilotIndices/18.0.934.24903/SemanticSymbols.db-wal
/2025/day01/cpp/.vs/CMake Overview
/2025/day01/cpp/.vs/cmake.db
/2025/day01/cpp/.vs/launch.vs.json
/2025/day01/cpp/.vs/ProjectSettings.json
/2025/day01/cpp/.vs/slnx.sqlite
/2025/day01/cpp/.vs/VSWorkspaceState.json
.vs/
